$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: DINNextLTPro;
  src: url(../fonts/DINNextLTPro-Regular.otf);
  font-style: normal
}

@font-face {
  font-family: DINNextLTPro-medium;
  src: url(../fonts/DINNextLTPro-Medium.otf);
}

@font-face {
  font-family: DINNextLTPro-bold;
  src: url(../fonts/DINNextLTPro-Bold.otf);
}

@font-face {
  font-family: DINNextLTPro-ultralight;
  src: url(../fonts/DINNextLTPro-UltraLight.otf);
}

body {
  background-color: #E0DED9;
  color: #313280;
}

.container-index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-link-index {
  margin-top: 39px;
  margin-bottom: 79px;
}

.container-link-index .list-group {
  margin-bottom: 20px;
}

.link-index {
  font-family: DINNextLTPro, sans-serif;
  font-size: 18.1px;
  color: #313280;
  text-decoration: none !important;
}

ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.container-link-index .list-group .list-group-item {
  float: left;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: initial;
  border: 1px solid initial;
}

@media (max-width: 768px) {
  .container-link-index .list-group .list-group-item {
    float: initial;
  }
}

p {
  margin: 0 0 0 !important;
}

//PROGRAMA
#page-programa {
  padding-top: 60px;
}

.programa-info-movie {
  margin-bottom: 20px;
}

.programa-title-h3 {
  font-family: DINNextLTPro-medium, sans-serif;
  font-size: 42px;
  font-weight: 900;
  text-align: left;
  color: #313280;
}

.programa-subtitle-h3 {
  font-size: 30px;
  font-weight: 500;
  font-family: DINNextLTPro-medium, sans-serif;
  text-align: left;
  color: #313280;
  margin-bottom: 33px !important;
}

.programa-horario {
  font-size: 16px;
  font-family: DINNextLTPro-medium, sans-serif;
  margin: 0 0 0;
}

.programa-title {
  font-family: DINNextLTPro-bold, sans-serif;
  font-size: 21.4px;
  font-weight: bold;
  line-height: normal;
}

.programa-subtitle {
  font-size: 16.1px;
  font-weight: 500;
  font-family: DINNextLTPro-ultralight, sans-serif;
  line-height: normal;
}

.programa-direction {
  font-size: 13px;
  font-family: DINNextLTPro-medium, sans-serif;
  line-height: 12px;
  margin: 0 0 0;

}

.programa-color-taller{
  color: #c61870 !important;
}

//fin programas

//menu navbar
.navbar-default {
  background-color: #313280;
  border-color: rgb(224, 222, 217);
}

.navbar-default .navbar-nav > li > a {
  color: #dedcd7;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
    z-index: 999;
  }



  .navbar-brand {
    float: left;
    height: 73px;
    width: 100%;
     padding-left: 40px;
    padding-right: 40px;
     padding-top: 17px;
    background-color: #e0ded9;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    float: left;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #c61870;
  background-color: transparent;
  font-weight: bold;
}

.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 15px;
}

.navbar {
  min-height: 60px;
}

.navbar-default .navbar-toggle {
  border-color: #e0ded9;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

//fin menu
//resena
#page-resena {
}

.resena-title{
  font-family: DINNextLTPro-bold, sans-serif;
  font-size: 24px;
  text-align: justify;
  color: #313280;
}
.resena-subtitle{
  font-family: DINNextLTPro, sans-serif;
  text-align: justify;
  color: #313280;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px !important;
}
.resena-text{
  font-family: DINNextLTPro, sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #313280;
  margin-bottom: 40px !important;
}
.resena-place{
  margin-bottom: 50px;
}
.embed-responsive-4by3 {
  margin-bottom: 20px;
}
//fin resena
//apoyo
#page-apoyo{
  height: 90vh;
  display: flex;
  align-items: center;
}
#page-apoyo div {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  #page-apoyo{
    padding-top: 120px;
    height: 110vh;
    display: flex;
    align-items: center;
  }
}

//fin apoyo
//contacto
#page-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.contacto-text{
  color: #313280;
  font-size: 36px;
}
.contacto-text a{
  color: #313280;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contacto-text{
    color: #313280;
    font-size: 21px;
  }

}

//Talleres
.taller-titulo{
  font-family: DINNextLTPro, sans-serif;
  font-size: 36.1px;
  font-weight: bold;
  line-height: 1.08;
  margin-bottom: 37px;
}
.taller-descripcion{
  font-family: DINNextLTPro, sans-serif;
  font-size: 19px;
  font-weight: 300;
  text-align: justify;
  color: #313280;
  margin-bottom: 17px;
}
.talle-direcction{
  font-family: DINNextLTPro, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #313280;
}
.taller-horario{
  font-family: DINNextLTPro, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #313280;
  margin-bottom: 17px;
}
.taller-extra{
  font-family: DINNextLTPro, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #313280;
}
@media (max-width: 768px){
  .taller-titulo{
    font-size: 28px;
  }
  .taller-descripcion{
    font-size: 14px;
  }
  .talle-direcction{
    font-size: 12px;
  }
}
